$font-main: 'Noto Sans', sans-serif;
$font-menu: 'Noto Sans', sans-serif;
$font-japanese: 'Noto Sans Japanese', sans-serif;
$font-serif: 'Unna', serif;




.site-main {
    margin: 10em auto;
}



.post-content {
    border-top: 1px dotted lightgray;
    padding: 2em;


    .ast-blog-featured-section {
    max-width: 500px;
    overflow: hidden;
    margin: 2em;
    
        @media screen and ( max-width: 400px) {
            margin: 0 auto 3em;
        }

    }

    .entry-header{
        display: flex;
        flex-direction: column;
       
        @media screen and ( max-width: 780px) {
            width: 85%;
            margin: 0 auto;
        }

        .entry-title {
        font-family: $font-serif;
        font-size: 2.5em;

        &:hover {
            opacity: 0.5;
        }
        }

        .entry-meta {

            .posted-on span.published{
            font-family: "Noto Sans Japanese", sans-serif;
            font-weight: 200;
            font-style: italic;
            font-size: 1em;
            color: #666666;
            }
        }
    }

    .entry-content {
        display: flex;
        flex-direction: column;

        @media screen and ( max-width: 780px) {
        width: 85%;
        margin: 3em auto;
        }

        p {
        font-family: $font-japanese;
        font-size: 0.9em;
        font-weight: 400;
        letter-spacing: 1px;
        }

        .read-more a{
            color: #68191E;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}