.icon-container {
    margin: 4em auto;
    display: flex;
    justify-content: center;
    // border: 1px solid;
    max-width: 70%;
    height: auto;
}


.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.icon-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 40px;
}