body {
    background: #68191e;
}

/* ____________HEADER_____________________ */


.main-header-bar {
    padding: 0;
    border: none;
}


/* ______________SITE BRANDING____________ */

.site-branding {
    position: fixed;
    top: 0px;
}


/* ________MAIN MENU_____________ */

.ast-main-header-bar-alignment {
    position: fixed;
    top: 1px;
    right: 1px;
}


/* ________FRONT PAGE HERO IMAGES_____________ */

.hero-wrap {
    height: 100vh;
    width: 100%;
    background: #FFF;
    display: flex;
    flex-wrap: nowrap;
    transition: all 3s ease;
}

.hero-left {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 400px auto;
    margin-top: 70px;
    height: 100vh;
    width: 50%;

}

.hero-right {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 400px auto;
  margin-top: 70px;
  height: 100vh;
  width: 50%;

}



/* ________FRONT PAGE MAIN CONTENT_____________ */

.site-content {
    height: 100vh;
    padding: 0;
    margin: 0;

    background-color: #FFF;
    transition: all 3s ease;
}

.change-to-pink {
    background-color: #F7D7DA;
}