@import "google-map-layout";
@import "contact";
@import "front-page-content";
@import "logo";



body {
    background: #68191e;
}

/* ____________HEADER_____________________ */


.main-header-bar {
    padding: 0;
    border: none;
}

// Reset from original Astra theme
.ast-header-break-point .main-header-bar {
    padding: 0;
}

/* ______________SITE BRANDING____________ */

.site-branding {
    position: absolute;
    top: 0px;

    @media screen and (max-width: 500px) {
        position: absolute;
    }
}



/* ________FRONT PAGE HERO IMAGES_____________ */

.hero-wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    transition: all 3s ease;
    
}

.hero-left {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100vh;
    width: 50%;

        @media screen and ( max-width: 700px ){
                background-size: 600px auto;
                background-position: 60% 0;
                border: 3vw solid #ffffff;
                border-right: 0;
              }
        
        @media screen and ( max-width: 500px ){
                width: 100%;
                background-size: cover;
                background-position: 60% 0;
                border: 3vw solid #ffffff;
            }
}


.hero-right {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: 100vh;
  width: 50%;

        @media screen and ( max-width: 700px ){
                background-size: 600px auto;
                background-position: 60% 0;
                border: 3vw solid #ffffff;
                border-left: 0;
            }
        
        @media screen and ( max-width: 500px ){
                display: none;
            }
}


.big-text-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background: transparent;
    position: absolute;
    right: 100px;
    top: 215px;

    @media screen and ( max-width: 670px ){
        display: none;
    }


    .fp_english_big,
    .fp_japanese_big, {
        color: #FFF;
        font-family: "Noto Sans Japanese";
        font-size: 17vw;
        font-weight: 1000;
        text-transform: uppercase;
        line-height: 0.9;

    }

}


/* ________FRONT PAGE MAIN CONTENT_____________ */

.site-content {
    padding: 0;
    margin: 0;

    background-color: #FFF;
    transition: all 3s ease;
}

.change-to-pink {
    background-color: #F7D7DA;
}


.intro-text-container {
    display: flex;
}

.intro_english,
.intro_japanese {
    width: 40%;
    margin: 0 auto;
    font-family: 'Unna';
}