@import "google-map-layout";
@import "contact";
@import "front-page-icons";
@import "logo";
@import "our-story";
@import "our-coffee";
@import "footer";
@import "blog-layout";


body {
    background: #FAFAF3;
}

/* ____________HEADER_____________________ */


.main-header-bar {
    padding: 0;
    border: none;
}

// Reset from original Astra theme
.ast-header-break-point .main-header-bar {
    padding: 0;
}

.ast-header-break-point .site-header {
    border-bottom-style: none;
}

/* ______________SITE BRANDING____________ */

.site-branding {
    position: absolute;
    top: 0px;

    @media screen and (max-width: 500px) {
        position: absolute;
    }
}



/* ________FRONT PAGE HERO IMAGES_____________ */

.hero-wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    transition: all 3s ease;
    
}

.hero-left {
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100vh;
    width: 50%;

        @media screen and ( max-width: 700px ){
                background-size: 600px auto;
                background-position: 60% 0;
                border: 3vw solid #ffffff;
                border-right: 0;
              }
        
        @media screen and ( max-width: 500px ){
                width: 100%;
                background-size: cover;
                background-position: 60% 0;
                border: 3vw solid #ffffff;
            }
}


.hero-right {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: 100vh;
  width: 50%;

        @media screen and ( max-width: 700px ){
                background-size: 600px auto;
                background-position: 60% 0;
                border: 3vw solid #ffffff;
                border-left: 0;
            }
        
        @media screen and ( max-width: 500px ){
                display: none;
            }
}


.big-text-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background: transparent;
    position: absolute;
    right: 100px;
    top: 215px;

    @media screen and ( max-width: 670px ){
        display: none;
    }


    .fp_english_big,
    .fp_japanese_big, {
        color: #FFF;
        font-family: "Noto Sans Japanese";
        font-size: 17vw;
        font-weight: 1000;
        text-transform: uppercase;
        line-height: 0.9;
        opacity: 0;
        animation: fadeIn 1.5s ease-in both;
    }

    .fp_japanese_big {
        animation-delay: 0.5s;
    }

}

// Animation for Big Text
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* ________FRONT PAGE MAIN CONTENT_____________ */

.site-content {
    padding: 0;
    margin: 0;

    background-color: #fafaf3;
    transition: all 3s ease;
}

.change-to-pink {
    background-color: #F7D7DA;
}

// ------ For the Welcome Text -------

.intro-text-container {
    display: flex;
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 4em;
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;

    @media screen and (max-width: 880px ) {
        flex-direction: column;
    }
}


.intro_japanese {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1.8em;
    border-right: 1px dotted lightgray;

    @media screen and (max-width: 880px ) {
        width: 70%;
        border: none;
        padding: 0;
        margin: 2em auto;
    }

    p {
    font-family: 'Noto Sans Japanese';
    font-size: 1.5em; 
    }
}


.intro_english {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-left: 2em;
    padding: 1.8em;

    @media screen and (max-width: 880px ) {
        width: 70%;
        border-top: 1px dotted lightgray;
        margin: 0 auto;
        padding: 0;
        padding-top: 2em;
    }

    p {
    font-family: 'Unna';
    font-size: 1.70em;
    letter-spacing: 1px 
    }
}