$font-main: 'Noto Sans', sans-serif;
$font-menu: 'Noto Sans', sans-serif;
$font-japanese: 'Noto Sans Japanese', sans-serif;
$font-serif: 'Unna', serif;


// About Section - Our Story - English Section

.our-story-content-eng {

    display: flex;
    margin: 10em auto 3em;

    @media screen and ( max-width: 880px ){
        flex-direction: column;
    }

    .left-col {
        width: 35%;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 4em;

        @media screen and ( max-width: 880px ){
        display: none;
        }

    }

    .right-col {
        width: 50%;
        border-top: 1px dotted lightgray;
        margin-left: 5em;

        @media screen and ( max-width: 880px ){
        width: 80%;
        margin: 0 auto;
        }

        .our-story-title {
            font-family: $font-serif;
            font-size: 2.5em;
            margin-bottom: 1em;
            padding: 0.4em;
            padding-left: 0.1em;
            border-bottom: 1px solid;
        }

        p {
            font-family: $font-serif;
            font-size: 1.3em;
            padding-left: 0.4em;
        }
    }
}


// About Section - Our Story - Japanese Section

.our-story-content-japanese {
    display: flex;
    padding-top: 5em;
    margin-bottom: 10em;
    border-top: 1px dotted lightgray;

    @media screen and ( max-width: 880px ){
        flex-direction: column;
    }

    .left-col {
        width: 60%;

        @media screen and ( max-width: 880px ){
        width: 90%;
        margin: 0 auto;
        }
        
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.4em;

        p {
        width: 70%;
        font-family: 'Noto Sans Japanese';
        font-size: 1.2em;

        @media screen and ( max-width: 880px ){
        width: 60%;
        }
        @media screen and ( max-width: 550px ){
        width: 90%;
        }
        }
    }

    .right-col {
        width: 35%;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;

        @media screen and ( max-width: 880px ){
            width: 70%;
            height: 500px;
            margin: 0 auto;
            margin-top: 2em;
        }

        @media screen and ( max-width: 550px ){
        width: 90%;
        height: 300px;
        }

    }
}


// --------- Partner Links --------------


.partner-links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-top: 1px dotted lightgray;



    .partner-title {
        font-family: $font-serif;
        font-size: 2.5em;
        margin-top: 1em;

        @media screen and ( max-width: 550px ){
            margin: 0 auto;
            margin-top: 1em;
        }
    }

    .partner-list {
        list-style: none;
        display: flex;
        margin: 0;

        @media screen and ( max-width: 550px ){
            flex-direction: column; 
            margin: 0 auto;
        }
    }

    .partner-item {
        margin: 3em;
    }
}