/* ________MAIN MENU_____________ */

/* --------- Reset Astra settings menu items ----- */

// Hover Color
.main-header-menu li:hover > a{
    color: #FFF;
}

// Background sub menu
.main-header-menu ul {
    background: transparent;

}

.submenu-with-border ul {
    border-top: none;
}

.submenu-with-border ul a {
    border: none;
    border-left: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

/* --------- ^^^^Reset Astra settings menu items^^^^ ----- */


.ast-main-header-bar-alignment {
    position: absolute;
    top: 20px;
    right: 10px;
    
}


.main-header-bar {
    line-height: 1.5;
}



.menu-item-12,
.menu-item-13,
.menu-item-14,
.menu-item-15,
.menu-item-27 {

    &:after {
        content: '';
        display: block;
        width: 30px;
        height: 1px;
        background-color: #FFF;  
        margin: 5px 14px;
        transition: all 0.5s ease-in;
    }

}




// @keyframes menuBounce {
//     0% {
//         transform: translateY(0);
//     }

//     100% {
//         transform: translateY(10px);
//     }
// }





.main-header-menu a{
        font-family: 'Noto Sans', sans-serif;
        font-size: 0.9em;
        font-weight: 300;
        letter-spacing: 3px;
        color: #fff;

}



//--------------- Mobile Menu Button --------

.ast-mobile-menu-buttons {
    position: fixed;
    top: 50px;
    right: 50px;
}

.ast-button-wrap .menu-toggle.main-header-menu-toggle {
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #68191E;
    transition: all 0.5s ease; 
}
