.main-header-menu li:hover > a {
    color: #68191e;
}


.main-header-menu a{
        font-family: 'Noto Sans', sans-serif;
        font-size: 0.9em;
        font-weight: 300;
        letter-spacing: 3px;

}
